*{
    margin: 0;
    padding: 0;
}
.logo{
    width:100%;
    height: 70px;
}
.logo-img{
           padding: 20px;
           margin-left: 20px;

} 
.nav{
    float: right;
    margin-right: 55px;
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width:35%;  
}
ul{
    list-style-type: none;

}
a{
   text-decoration: none;
   color:black;
}
a:hover{
    color: rgb(108, 243, 236);
 }
.image{
    background-image: url(Image/fesrfmin.jpg);
    width: 100%;
    height:620px;
    background-repeat: no-repeat;
    background-size: contain;
}
.box-section{
           width: 90%;
           float: left;
           margin-left: 35px;
          
 
}
.box-section1{
    background-color: rgb(67, 79, 83);
    color: #ffffff;
    height: 350px;
       
    
}

.box-section2{
    background-color:rgb(136, 144, 150);
    color: #ffffff;
    height: 350px;
 
    
}
.box-section3{
    background-color: rgb(74, 109, 206);
    color: #ffffff;
    height: 350px;
   
}
.box-section4{
    background-color: rgb(113, 175, 211);
    color: #ffffff;
    height: 350px;
   
    
}
.head{

}
.head{
    font-size: 50px;
    margin-left: 25px;
    margin-top: 10px;
}
h2{
    margin-left: 25px;
    margin-top: 20px;
}
.para{
    margin-left: 25px;
    margin-top: 20px;
}
img{
    margin-top: 35px;
    margin-left: 25px;
}
@media only screen and (max-width:2000px) {
    .box-section1{
        width: 25%;
        float: left;  
        margin-top: 350px;
    }
    .box-section2{
        width:25%;
        float: left;
        margin-top: 350px;
    }
    .box-section3{
        width: 25%;
        float: left;
        margin-top: 350px;
     
      
    }
    .box-section4{
        width: 25%;
        float: left;
        margin-top: 350px;
       
    }
}
@media only screen and (max-width:900px) {
    .box-section1{
        width: 50%;
        float: left;
        margin-top: 200px;  

    }
    .box-section2{
        width:50%;
        float: left;
        margin-top: 200px;
    }
    .box-section3{
        width: 50%;
        float: left;

    }
    .box-section4{
        width: 50%;
        float: left;   
    }
}

@media only screen and (max-width:600px) {
    .box-section1{
        width: 100%;
        float: left;  
  
    }
    .box-section2{
        width:100%;
        float: left;
        margin-top: 0px;
      
    }
    .box-section3{
        width: 100%;
        float: left;
     
      
    }
    .box-section4{
        width: 100%;
        float: left;
       
    }
}


   

